<?xml version="1.0" encoding="utf-8"?>
<widget id="mk.clicaid.app" version="1.8"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Clicaid Прозакон</name>
  <description>С нами Ваша жизнь будет в безопасности</description>
  <author email="info@clicaid.ru" href="https://clicaid.ru">Clicaid</author>

  <content src="index.html" />

  <!-- Доступы: минимально разрешаем всё (для проверки сборки).
       Потом можно сузить до нужных доменов. -->
  <access origin="*" />

  <!-- Интенты -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <!-- Базовые prefs -->
  <preference name="orientation" value="portrait" />
  <preference name="loadUrlTimeoutValue" value="50000" />

  <!-- iOS движок -->
  <engine name="ios" spec="7.1.1" />
  <!-- Остальные движки при желании -->
  <engine name="android" />
  <engine name="browser" />



</widget>
